<div id="aboutme" class="section">
    <h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>About Me</h2>
    <p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
        <p>
            Hi, I'm <strong>Abhijeet Vaikar</strong>, a passionate Software Test Engineer with over a decade of experience in ensuring software quality across e-commerce and healthcare domains. Currently based in Singapore, I specialize in agile testing, test automation, and quality engineering.
          </p>
          <p>
            I am a strong advocate for the user, combining curiosity, critical thinking, and a user-centric approach to uncover issues and ensure software delivers value. My ability to understand user perspectives and anticipate their needs has been pivotal in improving both product quality and user experience.
          </p>
          <p>
            Throughout my career, I have led efforts to build scalable test automation frameworks, implemented shift-left testing practices, and fostered a culture of whole-team quality ownership. My technical expertise spans UI and API test automation, exploratory testing, and usability/UX testing for web and mobile applications.
          </p>
          <p>
            Beyond my professional work, I actively contribute to the software testing community as a speaker, meetup organizer, and open-source curator. I co-organize the <em>Taqelah</em> quality engineering community in Singapore and maintain the popular testing knowledge hub, <a href="https://abhivaikar.github.io/howtheytest/" target="_blank" rel="noopener">How They Test</a>.
          </p>
          <p>
            In my free time, I enjoy pursuing photography, listening to music, going for long nature walks,reading about tech and testing innovations, networking with fellow test engineers, and continuously learning to improve the craft of software testing.
          </p>
    </p>
  </div>
  
  <div id="skills" class="section">
    <h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Skills</h2>
    
    <h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>Testing</h3>
    <div class="d-flex flex-wrap mb-4">
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Functional Testing</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Shift-left and Agile Testing</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">UI and UX Testing</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">API Testing</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Mobile Testing (Android, iOS)</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Web Testing</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Dogfooding</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Requirements Testing</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Risk Analysis</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Pre Mortem</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Exploratory Testing</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Test Planning</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Defect Tracking and Triaging</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Testing Process Setup and Improvements</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Bug Advocacy</span>
    </div>
  
    <h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>Test Automation</h3>
    <div class="d-flex flex-wrap mb-4">
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">E2E UI Test Automation</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">API Test Automation (Restful and gRPC protobuf APIs)</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Unit Testing</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Integration Testing</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Continuous Integration (CI)</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Test Automation Metrics and Dashboards</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Framework Development</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Test Data Management</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">BDD</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Test Pyramid</span>
    </div>
  
    <h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>Tools & Technologies</h3>
    <div class="d-flex flex-wrap mb-4">
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Selenium</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Appium</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">JUnit</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">TestNG</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Cucumber</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Postman</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Applitools</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Maven</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">RestAssured</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">AWS DynamoDB</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">AWS SQS</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Google Firestore</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Jenkins</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">TravisCI</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Github Actions</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Sonarcloud</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Sonarqube</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Git</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Github</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Docker</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Browserstack</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Allure reports</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Slack API integration</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Zephyr Scale</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Firebase Crashlytics</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">noSQL</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">SQL</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Google DataStudio</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Google BigQuery</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Google Cloud Storage</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">JIRA</span>
    </div>

    <h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>Programming Languages</h3>
    <div class="d-flex flex-wrap mb-4">
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Java</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Go</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Python</span>
      <span class="IssueLabel bg-blue text-white mr-2 mb-2">Bash</span>
    </div>
  </div>
  
  <div id="projects" class="section">
    <h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Projects</h2>
    
    <div class="d-flex flex-wrap gutter-condensed mb-4">
      <!-- HowTheyTest -->
      <div class="col-6 col-md-12 col-lg-6 col-xl-4 mb-3">
        <div class="github-component height-full text-left {% if site.style == 'dark' %}box-shadow{% else %}border border-gray-light{% endif %} bg-white rounded-1 p-3">
          <div class="d-flex flex-justify-between flex-items-start mb-1">
            <h1 class="f4 lh-condensed mb-1">
              <a href="https://github.com/abhivaikar/howtheytest">
                {% octicon repo height:20 class:"mr-1" %}
                HowTheyTest
              </a>
            </h1>
          </div>
          <div class="text-gray mb-2 ws-normal">A curated collection of public resources about how software companies test their software systems and build their quality culture.</div>
        </div>
      </div>
  
      <!-- VanillaCheck -->
      <div class="col-6 col-md-12 col-lg-6 col-xl-4 mb-3">
        <div class="github-component height-full text-left {% if site.style == 'dark' %}box-shadow{% else %}border border-gray-light{% endif %} bg-white rounded-1 p-3">
          <div class="d-flex flex-justify-between flex-items-start mb-1">
            <h1 class="f4 lh-condensed mb-1">
              <a href="https://github.com/abhivaikar/vanillacheck">
                {% octicon repo height:20 class:"mr-1" %}
                VanillaCheck
              </a>
            </h1>
          </div>
          <div class="text-gray mb-2 ws-normal">A vanilla and simple test runner I have written in Java for writing automated tests. Built to understand how testing frameworks work under the hood.</div>
        </div>
      </div>
  
      <!-- Bookmarklets for Testers -->
      <div class="col-6 col-md-12 col-lg-6 col-xl-4 mb-3">
        <div class="github-component height-full text-left {% if site.style == 'dark' %}box-shadow{% else %}border border-gray-light{% endif %} bg-white rounded-1 p-3">
          <div class="d-flex flex-justify-between flex-items-start mb-1">
            <h1 class="f4 lh-condensed mb-1">
              <a href="https://github.com/abhivaikar/bookmarklets-for-testers">
                {% octicon repo height:20 class:"mr-1" %}
                Bookmarklets for Testers
              </a>
            </h1>
          </div>
          <div class="text-gray mb-2 ws-normal">Browser bookmarklets to help testers quickly navigate to frequently used URLs with variable parameters.</div>
        </div>
      </div>
  
      <div class="col-6 col-md-12 col-lg-6 col-xl-4 mb-3">
        <div class="github-component height-full text-left {% if site.style == 'dark' %}box-shadow{% else %}border border-gray-light{% endif %} bg-white rounded-1 p-3">
          <div class="d-flex flex-justify-between flex-items-start mb-1">
            <h1 class="f4 lh-condensed mb-1">
              <a href="https://github.com/abhivaikar/fruitstore-unittests-demo">
                {% octicon repo height:20 class:"mr-1" %}
                Fruitstore Unit Tests
              </a>
            </h1>
          </div>
          <div class="text-gray mb-2 ws-normal">This is a demo project for implementing unit tests with 2 different approaches</div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- <div id="community" class="section">
    <h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Community Contributions</h2>
    <ul class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
      <li>Conference and meetup talks</li>
      <li>Blog posts</li>
      
    </ul>
  </div>
  
  <div id="books" class="section">
    <h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Books I've Read</h2>
    <h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>Testing Books</h3>
    <div class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
      <div class="mb-3">
        <a href="link-to-book" {% if site.style == 'dark' %}class="text-white"{% endif %}>Book Title 1</a>
        <p>Brief review</p>
      </div>
      <div class="mb-3">
        <a href="link-to-book" {% if site.style == 'dark' %}class="text-white"{% endif %}>Book Title 2</a>
        <p>Brief review</p>
      </div>
    </div>
  </div> -->
  
  <div id="resume" class="section">
    <h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Resume</h2>
    <p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
      <a href="https://drive.google.com/file/d/1NA_3NG_EFk70HVhkAgEb5Qqf0H4jWBGK/view?usp=drive_link" target="_blank" rel="noopener noreferrer" class="btn btn-outline">Download Resume</a>
    </p>
  </div>